################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GangOfFour/.vs/GangOfFour/v16
/GangOfFour/bin/Debug/netcoreapp3.1
/GangOfFour/obj
/GangOfFour/.vs/GangOfFour/DesignTimeBuild
